<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>고객 조회</title>
	<script type="text/javascript" th:src="@{/js/cust/retrieveCust.js}"></script>
</head>
<body>
<section layout:fragment="content">
<div class="container">
    <br />
    <h2>
        <span>[고객조회]</span>
    </h2>
    
    <form id="form1" onsubmit="return false;">
        <table class="global_table" cellpadding="0" cellspacing="0">
            <colgroup>
                <col style="width:16%;" />
                <col style="width:84%;" />
            </colgroup>
            <tr>
                <th class="width135">고객번호*</th>
                <td>
                    <input class="txt" id="custNo" name="custNo" type="text" value="" />
                    <input id="btnSearch" type="button" value="조회" class="search_btn"/>
                </td>
            </tr>
        </table>
    </form>            
    <br />

    <h3>고객 정보</h3>  
    <table class="global_table" cellpadding="0" cellspacing="0">
        <colgroup>
            <col style="width:16%;" />
            <col style="width:17%;" />
            <col style="width:16%;" />
            <col style="width:17%;" />
            <col style="width:16%;" />
            <col style="width:18%;" />
        </colgroup>
        <tbody>
			<tr>
				<th class="width100">고객번호</th>
				<td name="custNo"></td>
				<th class="width100">고객한글명</th>
				<td name="custNm"></td>
				<th class="width100">고객영문명</th>
				<td name="custEnnm"></td>
			</tr>
			<tr>
				<th class="width100">휴대전화번호</th>
				<td name="cpno"></td>
				<th class="width100">이메일주소</th>
				<td name="emaddr"></td>
			</tr>
        </tbody>
    </table>
    <br />
    <input id="btnUserCntrCreate" type="button" value="사용자계약등록" class="g_btn_bg3" />
    <input id="btnAcctCreate" type="button" value="계좌개설" class="g_btn_bg2" />
    <input id="btnDelete" type="button" value="삭제" class="g_btn_bg" />
    <input id="btnUpdate" type="button" value="수정" class="g_btn_bg" />
    <!--
    <h3>이체 한도 정보</h3>
    <table width="1200" border="3" cellpadding="0" cellspacing="1" class="search_results" id="table">
        <colgroup>
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
        </colgroup>
        <tbody>
			<tr>
				<th>1일 이체 한도</th>
				<td name="oneDyTrnfLmt"></td>
				<th>1회 이체 한도</th>
				<td name="oneTmTrnfLmt"></td>
			</tr>
        </tbody>
    </table>
    <br />
    
    <h3>계좌 정보</h3>
    <table width="1200" border="3" cellpadding="0" cellspacing="1" class="search_results" id="table">
        <colgroup>
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
			<col style="width:25%;" />
			<col style="width:25%;" />
			<col style="width:25%;" />
			<col style="width:25%;" />
		</colgroup>
		<tbody id="accountList">
			<tr>
				<th>계좌명</th>
				<th>계좌번호</th>
				<th>계좌잔액</th>
				<th>신규일시</th>
			</tr>
		</tbody>
	</table>
	-->
	</div>
</section>
</body>
</html>