<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>입금 결과</title>
	<script type="text/javascript" th:src="@{/js/acct/depositAcctResult.js}"></script>
</head>
<body>
<section layout:fragment="content">
<div class="container">
    <br />
    <h2>
        <span>입금 결과</span>
    </h2>

    <table class="global_table" cellpadding="0" cellspacing="0">
        <colgroup>
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
        </colgroup>
        <tbody>
			<tr>
				<th class="width100">계좌번호</th>
				<td name="acno"></td>
				<th class="width100">입금금액</th>
				<td name="txAmt"></td>
			</tr>
			<tr>
				<th class="width100">입금전계좌잔액</th>
				<td name="preAccoBal"></td>
				<th class="width100">현재계좌잔액</th>
				<td name="accoBal"></td>
			</tr>
        </tbody>
    </table>
    <br />
    <div class="g_tablebtn">
        <input id="btnClose" type="button" value="돌아가기" class="g_btn_bg2" />
    </div>
	</div>
</section>
</body>
</html>