<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>계좌조회</title>
	<script type="text/javascript" th:src="@{/js/acct/updateAcct.js}"></script>
</head>
<body>
<section layout:fragment="content">
<div class="container">
    <br />
    <h2>
        <span>계좌비밀번호수정</span>
    </h2>

    <table class="global_table" cellpadding="0" cellspacing="0">
        <colgroup>
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
        </colgroup>
        <tbody>
			<tr>
				<th class="width100">계좌번호</th>
				<td name="acno"></td>
				<th class="width100">비밀번호</th>
				<td><input id = "accoPswd" name="accoPswd"></input></td>
			</tr>
        </tbody>
    </table>
    <br />
    <!--<div class="g_tablebtn">-->
        
        <input id="btnUpdate" type="button" value="저장" class="g_btn_bg" />
    <!--</div>-->
        
    <!--
    <h3>이체 한도 정보</h3>
    <table width="1200" border="3" cellpadding="0" cellspacing="1" class="search_results" id="table">
        <colgroup>
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
        </colgroup>
        <tbody>
			<tr>
				<th>1일 이체 한도</th>
				<td name="oneDyTrnfLmt"></td>
				<th>1회 이체 한도</th>
				<td name="oneTmTrnfLmt"></td>
			</tr>
        </tbody>
    </table>
    <br />
    
    <h3>계좌 정보</h3>
    <table width="1200" border="3" cellpadding="0" cellspacing="1" class="search_results" id="table">
        <colgroup>
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
			<col style="width:25%;" />
			<col style="width:25%;" />
			<col style="width:25%;" />
			<col style="width:25%;" />
		</colgroup>
		<tbody id="accountList">
			<tr>
				<th>계좌명</th>
				<th>계좌번호</th>
				<th>계좌잔액</th>
				<th>신규일시</th>
			</tr>
		</tbody>
	</table>
	-->
	</div>
</section>
</body>
</html>